<app-navbar></app-navbar>
<body>
  <div class="row">
      <div class="card col-md-4 col-md-offset-4 centrar sombra opacidad" style="width: 18rem;">
        <div class="card-body">
          <form [formGroup]="registroForm" (ngSubmit)="registro()" autocomplete="off">
            <div id="Centrar-formulario">
              <h3 class="text-center text-info">REGISTRO</h3><br>

              <div class="form-group">
                <mat-form-field class="col-xs-12">
                  <label for="nickname" class="text-info">Nickname:</label><br>
                  <input matInput type="text" formControlName="nickname" (click)="hideError()">
                  <mat-error *ngIf="(nickname.dirty || nickname.touched) && nickname.invalid && nickname.errors.required">Escribe un nickname</mat-error>
                  <mat-error *ngIf="(nickname.dirty || nickname.touched) && nickname.invalid && nickname.errors.minlength">El nickname debe contener mínimo 4 caracteres</mat-error>
                  <mat-error *ngIf="(nickname.dirty || nickname.touched) && nickname.invalid && nickname.errors.maxlength">El nickname debe contener máximo 20 caracteres</mat-error>   
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="col-xs-12">
                  <label for="nombre" class="text-info">Nombre:</label><br>
                  <input matInput type="text" formControlName="nombre" (click)="hideError()">
                  <mat-error *ngIf="(nombre.dirty || nombre.touched) && nombre.invalid && nombre.errors.required">Escribe un nombre</mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="col-xs-12">
                  <label for="ubicacion" class="text-info">Ubicación:</label><br>
                  <mat-select formControlName="ubicacion" (click)="hideError()">
                    <mat-option *ngFor="let municipio of Municipios" [value]="municipio">
                      {{municipio}}
                    </mat-option>
                  </mat-select>
                  <!--<input matInput type="text" formControlName="ubicacion" (click)="hideError()">-->
                  <mat-error *ngIf="(ubicacion.dirty || ubicacion.touched) && ubicacion.invalid && ubicacion.errors.required">Selecciona una ubicación</mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="col-xs-12">
                  <label for="password" class="text-info">Contraseña:</label><br>
                  <input matInput type="password" formControlName="password" (click)="hideError()">
                  <mat-error *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required">Escribe una contraseña</mat-error>
                  <mat-error *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.minlength">La contraseña debe contener mínimo 4 caracteres</mat-error>
                  <mat-error *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.maxlength">La contraseña debe contener máximo 30 caracteres</mat-error>   
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="col-xs-12">
                  <label for="confirmpassword" class="text-info">Confirme contraseña:</label><br>
                  <input matInput type="password" formControlName="confirmpassword" (click)="hideError()">
                  <mat-error *ngIf="(confirmpassword.dirty || confirmpassword.touched) && confirmpassword.invalid && confirmpassword.errors.minlength">La contraseña debe contener mínimo 4 caracteres</mat-error>
                  <mat-error *ngIf="(confirmpassword.dirty || confirmpassword.touched) && confirmpassword.invalid && confirmpassword.errors.required">Confirma la contraseña</mat-error>
                  <mat-error *ngIf="(confirmpassword.dirty || confirmpassword.touched) && confirmpassword.invalid && confirmpassword.errors.maxlength">La contraseña debe contener máximo 30 caracteres</mat-error>
                  <mat-error *ngIf="(confirmpassword.dirty || confirmpassword.touched) && confirmpassword.invalid && confirmpassword.errors.mustMatch">Las contraseñas no coinciden</mat-error>   
                </mat-form-field>
              </div>

              <div class="form-group">
                <button id="boton-ingreso" mat-raised-button class="btn btn-info btn-md" type="submit" [disabled]="!registroForm.valid">Registrarse</button>
              </div>

            </div>
          </form>
          <div id="error-servidor" class="alert alert-danger">
            No se ha podido realizar el registro.
          </div>
          <div id="error-servidor2" class="alert alert-danger">
            Ya existe un usuario con ese nickname.
          </div>
          
          <div id="register-link" class="text-right">
            <a href="login">
              <i class="fa fa-paper-plane-o"></i>Ingresar
            </a>
          </div>
        </div>
      </div>
  </div>
</body>