<app-navbar></app-navbar>


      <div class="row">
          <div class="col-md-6 border-right text-center">
            <br>
            <img src="assets/img/logo.png" alt="" class="col-md-8 " >
            
            <p class="">
              <br>
             <strong class="ml-2 mr-2">
              <hr class="bg-info">
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-danger"></div>
            <br>
              maneras fáciles e innovadoras de comunicarte con los tuyos no llegan a ti todos los días, ven conóceme y conozcamos al resto del mundo juntos.
               <br>
              <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-danger"></div>
              <br>
              <hr class="bg-info">
              <br>
            </strong>
          </p>
        
          </div>

            <img src="assets/img/2.gif" class="col-md-6">
        
         
</div>