<body>
    <div  class="d-flex" id="wrapper" >

      <div class="bg-light border-right" id="sidebar-wrapper">
          <h3 style="text-align: center; width: 100%; color:blue;">Sitios Turisticos</h3>
        <div class="list-group list-group-flush" style="text-align: center;">
          <button style="color: #3A01DF;" *ngFor="let community of communities" class="list-group-item list-group-item-action bg-light botones" [attr.id]="community.nombre" (click)="SelectCommunity(community)"><h2>{{community.nombre}}</h2></button>
        </div>
      </div>
      <div  id="page-content-wrapper" class="show-events">
            <div class="messages-content" >
              <h1 style="text-align: center; opacity: 0.3;">Eventos en {{communitySelected.nombre}}</h1>
              <h3 style="text-align: center; opacity: 0.3;">{{communitySelected.descripcion}}</h3>
              <div *ngIf="communitySelected.belonged">
                <div *ngFor="let event of communitySelected.events; let i=index">
                  <h6>Evento {{i}}</h6>
                  <p>Nombre del evento : {{event.nombre}}</p>
                  <p>Descripcion : {{event.descripcion}}</p>
                  <p>Fecha : {{event.fecha}}</p>
                </div>
            </div>
                
              
            </div>
            
            
      </div>
      <div *ngIf="communitySelected.belonged" class="create-event">
          <h4>Crear Evento</h4>
          <p></p>
          <div class="form-content">
              <form (ngSubmit)="crearEvento()">
                <div class="form-group">
                  <label>Nombre del Evento</label>
                  <input type="text" name="nombre" class="form-control" [(ngModel)]= "dataEvent.nombre" required>
                </div>
                <div class="form-group">
                  <label>Descripcion</label>
                  <input type="text" name="descripcion" class="form-control" [(ngModel)]= "dataEvent.descripcion" required>
                </div>
                <div class="form-group">
                    <label>Fecha</label>
                    <input type="text" name="fecha" class="form-control" [(ngModel)]= "dataEvent.fecha" required>
                  </div>
                  <div class="form-group">
                    <label>Hora</label>
                    <input type="text" name="hora" class="form-control" [(ngModel)]= "dataEvent.hora" required>
                  </div>
                  <div class="form-group">
                    <label>Lugar</label>
                    <input type="text" name="lugar" class="form-control" [(ngModel)]= "dataEvent.lugar" required>
                  </div>
          
                <button type="submit" class="btn btn-success">Crear Evento</button>
            
              </form>
            </div>
      </div>
      <div *ngIf="!communitySelected.belonged">
          <h4>Aún no puedes ver los eventos del lugar turístico seleccionado, ¿Deseas recibir notificaciones de este sitio turístico?</h4>
        <button class="btn btn-danger" (click)="joinComunity()">Aceptar</button>
      </div>
      </div>
      <!-- /#page-content-wrapper -->

    <!-- /#wrapper -->
  
  
</body>